.about__container {
  color: white;
  font-family: var(--font-main);
  margin: auto;
  margin-top: 116px;
  max-width: 80%;
  text-align: center;
  width: max-content;
}

.about__container h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.accent {
  color: var(--color-accent);
  font-weight: 600;
}

.web-development {
  color: white;
  font-size: 0.8rem;
}

.web-development a {
  color: white;
  text-decoration: underline;
}

.web-development a:hover {
  color: var(--color-accent);
  transition: .3s;
}

.social-icons {
  font-size: 2rem;
  padding-bottom: 7rem;
  padding-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-icons span {
  font-size: 1.2rem;
}

.github-icon , .linkedin-icon {
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-inline: 1.2rem;
}

.github-icon:hover , .linkedin-icon:hover {
  color: var(--color-accent);
  transition: .3s;
}

.technologies {
  padding-bottom: 6rem;
  text-align: center;
}

.technologies span {
  font-size: 0.9rem;
}

.technologies-icons {
  font-size: 1.3rem;
}

.repository {
  color: white;
  cursor: pointer;
  font-size: 0.9rem;
}

.repository:hover {
  color: var(--color-accent);
  transition: .3s;
}

@media only screen and ( max-width : 900px ) {

  .about__container h2 {
    font-size: 1.4rem;
    line-height: 1.8rem;
    margin: auto;
    max-width: 80%;
    padding-bottom: 0.6rem;
  }

  .web-development {
    font-size: 0.65rem;
    margin: auto;
    max-width: 80%;
  }

  .web-development a {
    text-decoration: underline;
  }

  .github-icon , .linkedin-icon {
    font-size: 1.5rem;
    margin-inline: 0.8rem;
  }

  .repository {
    font-size: 0.8rem;
  }

}
