.footer {
  bottom: 0;
  color: rgba(255, 255, 255, 0.5);
  font-family: var(--font-main);
  font-size: 0.75rem;
  margin: auto;
  padding-bottom: 5px;
  position: absolute;
  text-align: center;
  width: 100%;
}

.footer a {
  color: rgba(255, 255, 255, 0.5);
  text-decoration: underline;
}

.footer a:hover {
  color: white;
  transition: 0.3s;
}

.link-icon {
  transform: translateY(2px);
}
