:root {

  --color-accent: rgb(77, 232, 156);

  --color-dark: rgb(43, 149, 101);

  --color-gray: rgb(143, 143, 148);

  --color-bg: rgb(30, 30, 30);

  --font-trybe: 'Russo One' , sans-serif;

  --font-tunes: 'Genos' , sans-serif;

  --font-main: 'Poppins' , sans-serif;
}
